{% from 'materialize_macros.html' import materialize_text_input %}
{% extends "base.html" %}
{% set active_menu_item = 'Users' %}

{% block content %}
<p class="page-heading">Change password</p>
<form action="" method="post"  novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s6">
            {{  materialize_text_input(form.password, required = True) }}
        </div>
        <div class="input-field col s6">
            {{  materialize_text_input(form.password_confirm) }}
        </div>
    </div>
    <button class="waves-effect waves-light btn green lighten-1" type="submit">Save changes</button>
    <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('admin.index') }}">
        Cancel
    </a>
</form>

{% endblock %}