{% extends "base.html" %}

{% block content %}
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                {% if user.is_administrator %}
                Yes 
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('admin.add_user') }}">Add user</a>
{% endblock %}

