{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('books.edit_tags', id = book.id) }}" method="POST">
    <table>
        <thead>
            <th>Tag</th>
            <th></th>
        </thead>
        <tbody>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td><input type="checkbox" 
                {% if tag.id in book_tag_ids %} checked {% endif %}
                name = 'tag-checkboxes'
                value="{{ tag.id }}">
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <input type="submit" value="Save changes"/>
    <a href="{{ url_for('books.view', id = book.id )}}">Cancel</a>
</form>
{% endblock %}

