{% extends "base.html" %}

{% block content %}
<p class="page-heading">{{ book.title }}</p>
<p class="section-heading">Editing tags</p>
<div class="row">
    <form action="{{ url_for('books.edit_tags', id = book.id) }}" method="POST">
        <table>
            <thead>
                <th>Tag</th>
            </thead>
            <tbody>
            {% for tag in tags %}
            <tr>
                <td>
                    <label>
                        <input type="checkbox" 
                        {% if tag.id in book_tag_ids %} checked {% endif %}
                        name = 'tag-checkboxes' class="filled-in"
                        value="{{ tag.id }}">
                        <span>{{ tag.name }}</span>
                    </label>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <button class="waves-effect waves-light btn green lighten-1" type="submit">Save changes</button>
    <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('books.view', id = book.id )}}">
        Cancel
    </a>
</form>
{% endblock %}

