{% extends "base.html" %}
{% set active_menu_item = 'Books' %}

{% block content %}
<div class="row">
    <p class="page-heading">Books</p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ url_for('books.view', id = book.id) }}">{{ book.title }}</a></td>
                <td>{{ book.status }}</td>
                <td>
                    {% if book.priority == 'High' %}
                    <div class="chip red lighten-4">High</div>
                    {% elif book.priority == 'Medium' %}
                    <div class="chip orange lighten-4">Medium</div>
                    {% else %}
                    <div class="chip green lighten-4">Low</div>
                    {% endif %}
                </td>
                <td>
                    {% for tag in book.tags %}
                    <div class="chip">
                        <a href="{{ url_for('view_by_tag', tag_id = tag.id) }}">
                            {{ tag.name }}</a>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
    <a class="waves-effect waves-light btn green lighten-1" href="{{ url_for('books.add') }}">
        <i class="material-icons left">add</i>Add a book
    </a>
</div>
{% endblock %}

