{% extends "base.html" %}

{% block content %}
<h1>{{ book.title }}</h1>

<h2>Details</h2>
<p>Authors: {{ book.authors }}</p>
<p>Status: {{ book.status }}</p>
<p>Priority: {{ book.priority }}</p>
<p>Next steps: {{ book.next_steps }}</p>
<p>Barriers: {{ book.barriers }}</p>
<p>Notes: {{ book.notes }}</p>

<h2>Tags</h2>
<ul>
{% for tag in book.tags %}
<li>{{ tag.name }}</li>
{% endfor %}
</ul>
<a href="{{ url_for('books.edit_tags', id = book.id) }}">Edit tags</a>

<hr>
<a href="{{ url_for('books.edit', id = book.id) }}">Edit book</a>
<a href="{{ url_for('books.delete', id = book.id) }}">Delete book</a>
{% endblock %}