{% from 'materialize_macros.html' import materialize_text_input %}

{% extends "base.html" %}
{% set active_menu_item = 'Tags' %}

{% block content %}
<div class="section">
    <p class="page-heading">Tags</p>
    <form name="edit_form" action="{{ url_for('tags.save', id = editing_tag_id) }}" method="post">
        {{ edit_form.hidden_tag() }}
        <table class="highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    {% if tag.id == editing_tag_id %}
                    <td>
                        <div class="input-field">
                            {{  materialize_text_input(edit_form.name, required = True) }}
                        </div>
                    </td>
                    <td>
                        <button class="waves-effect waves-light btn green lighten-1" type="submit">Save changes</button>
                        <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('tags.index' )}}">Cancel</a>
                    </td>
                    {% else %}
                    <td>{{ tag.name }}</td>
                    <td>
                        <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('tags.index', tag_id = tag.id) }}">
                            Edit
                        </a>
                        <a class="waves-effect waves-light btn red lighten-2" href="{{ url_for('tags.delete', id = tag.id) }}">
                            Delete
                        </a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% if editing == False %}
<div class="section add-tag-section">
    <div class="row">
        <div class="col s12">
            <p class="section-heading">Add tag</h2>
            <form name="add_form" action="" method="post" novalidate>
                {{ add_form.hidden_tag() }}
                {{ materialize_text_input(add_form.name, required = True)}}
                <p>
                    <button class="waves-effect waves-light btn green lighten-1" type="submit">
                        <i class="material-icons left">add</i>Add tag
                    </button>
                </p>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

