{% extends "base.html" %}

{% block content %}
    <h1>Tags</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td><a href="{{ url_for('tags.delete', id = tag.id) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h2>Add tag</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}</br>
            {{ form.name(size=100) }}
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}

