{% extends "base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>

<h2>Details</h2>
<p>URL: <a href="{{ course.url }}">{{ course.url }}</a></p>
<p>Status: {{ course.status }}</p>
<p>Priority: {{ course.priority }}</p>
<p>Next steps: {{ course.next_steps }}</p>
<p>Barriers: {{ course.barriers }}</p>
<p>Notes: {{ course.notes }}</p>

<h2>Tags</h2>
<ul>
{% for tag in course.tags %}
    <li>{{ tag.name }}</li>
{% endfor %}
</ul>
<a href="{{ url_for('courses.edit_tags', id = course.id) }}">Edit tags</a>
<hr>
<a href="{{ url_for('courses.edit', id = course.id) }}">Edit course</a>
<a href="{{ url_for('courses.delete', id = course.id) }}">Delete course</a>
{% endblock %}