{% from 'materialize_macros.html' import materialize_text_input, materialize_textarea %}

{% extends "base.html" %}
{% set active_menu_item = 'Courses' %}

{% block content %}
<p class="page-heading">Edit Course</p>
<form action="" method="post"  novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s6">
            {{  materialize_text_input(form.title, required = True) }}
        </div>
        <div class="input-field col s6">
            {{  materialize_text_input(form.url) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ form.status() }}
            <label>{{ form.status.label.text | safe }} *</label>
        </div>
        <div class="input-field col s6">
            {{ form.priority() }}
            <label>{{ form.priority.label.text | safe }} *</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            {{ materialize_textarea(form.next_steps) }}
        </div>
        <div class="input-field col s6">
            {{ materialize_textarea(form.barriers) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ materialize_textarea(form.notes) }}
        </div>
    </div>
    <button class="waves-effect waves-light btn green lighten-1" type="submit">Save changes</button>
    <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('courses.view', id = course_id )}}">
        Cancel
    </a>
</form>


{% endblock %}