#content {
    word-wrap: break-word;
}

#logo-icon {
    font-size: 3rem;
}

.item-type-icon {
    font-size: 1.5rem;
}

.page-heading {
    font-size: 2rem;
}

.section-heading {
    font-size: 1.5rem;
}

.tag-heading {
    font-size: 1.5rem;
}

.field-label {
    font-weight: 600;
    font-size: 1.1rem;
}

.details-section {
    margin-top: 1rem;
}

.add-tag-section {
    margin-top: 1rem;
    background-color: #eeeeee;
    border: solid .1rem #b1b1b1;
    border-radius: 1rem;
    padding: 1rem;
}