{% from 'materialize_macros.html' import materialize_text_input %}
{% extends "base.html" %}

{% block content %}
<p class="page-heading">Sign In</p>
<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
    <div class="row">
        <div class="input-field col s12">
            {{ materialize_text_input(form.username, required = True) }}
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ materialize_text_input(form.password, required = True) }}
        </div>
    </div>
    <div class="row">
        <button class="waves-effect waves-light btn blue darken-2" type="submit">Sign in</button>
    </div>
</form>
{% endblock %}