<html>
    <head>
        <title>{{ title }} - Finish it!</title>
    </head>
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 0.5em;
            border-collapse: collapse;
        }
    </style>
    <body>
        <p>Finish it!</p>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('view_by_tag') }}">By Tag</a>
        <a href="{{ url_for('books.index') }}">Books</a>
        <a href="{{ url_for('courses.index') }}">Courses</a>
        <a href="{{ url_for('tags.index') }}">Tags</a>
        {% endif %}
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>