<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>{{ title }} - Finish it!</title>

        <!--- Icons and Materialize stylesheets -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ url_for('static', filename='css/finish.css') }}" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <div id="navbar" class="navbar-fixed">
            <nav class="light-blue darken-4">
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo center">
                        <i id="logo-icon" class="material-icons">playlist_add_check</i>
                        Finish It!
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        {% with user = current_user %}
                        {% include 'navigation_items.html' %}
                        {% endwith %}
                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            {% with user = current_user %}
            {% include 'navigation_items.html' %}
            {% endwith %}
        </ul>
        <div id="content" class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="row message-box">
                <div class="col s12">
                    <div class="card grey lighten-4">
                        <div class="card-content">
                            <i class="material-icons">info</i>                            
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>