{% extends "base.html" %}

{% block content %}
    <h1>Books</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ url_for('view_book', id = book.id) }}">{{ book.title }}</a></td>
                <td>{{ book.status }}</td>
                <td>{{ book.priority }}</td>
                <td>
                    {% for tag in book.tags %}
                    <a href="#">{{ tag.name }}</a>,
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_book') }}">Add another book</a>
{% endblock %}

