{% extends "base.html" %}
{% set active_menu_item = 'By_Tag' %}

{% block content %}
<p class="page-heading">View by tags</p>
<form action="" method="get">
    <div class="row">
        <div class="input-field col s12">
            <select id="filter_tag" name="tag_id">
                <option value="-">-</option>
                {% for tag in all_tags %}
                <option value="{{ tag.id }}" {% if tag.id == selected_tag_id %} selected {% endif %}>
                    {{ tag.name }}
                </option>
                {% endfor %}
            </select>
            <label for="filter_tag">Select tag</label>
        </div>
    </div>
    <div class="row">
        <button class="waves-effect waves-light btn blue darken-2" type="submit">Filter by tag</button>
        <a class="waves-effect waves-light btn blue darken-2" href="{{ url_for('view_by_tag')}}">View all</a>
    </div>
</form>

{% for tag in selected_tags %}
<div class="section">
    <div class="divider"></div>
    <p class="tag-heading">{{ tag.name }}</p>
    <table class="highlight">
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tag.items %}
            <tr>
                <td>
                    
                    {% if item.type == 'book' %}
                    <a href="{{ url_for('books.view', id = item.id) }}">{{ item.title }}</a>
                    {% else %}
                    <a href="{{ url_for('courses.view', id = item.id) }}">{{ item.title }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if item.type == 'book' %}
                    <i class="material-icons item-type-icon">book</i>
                    {% else %}
                    <i class="material-icons item-type-icon">laptop</i>
                    {% endif %}
                </td>
                <td>{{ item.status }}</td>
                <td>
                    {% if item.priority == 'High' %}
                    <div class="chip red lighten-4">High</div>
                    {% elif item.priority == 'Medium' %}
                    <div class="chip orange lighten-4">Medium</div>
                    {% else %}
                    <div class="chip green lighten-4">Low</div>
                    {% endif %}
                </td>
                <td>
                    {% for tag in item.tags %}
                    <div class="chip">
                        <a href="{{ url_for('view_by_tag', tag_id = tag.id) }}">
                            {{ tag.name }}</a>
                    </div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}

