{% extends "base.html" %}

{% block content %}
    <h1>Stuff to finish</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Priority</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Beyond Doctorates Downunder</td>
                <td>Book</td>
                <td>Medium</td>
                <td>
                    <a href="#">Research</a>,
                    <a href="#">Career</a>
                </td>
            </tr>
            <tr>
                <td>Elsevier Peer Review Course</td>
                <td>Course</td>
                <td>Medium</td>
                <td>
                    <a href="#">Research</a>,
                    <a href="#">Career</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

