{% extends "base.html" %}

{% block content %}
    <h1>Stuff to finish</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    
                    {% if item.type == 'book' %}
                    <a href="{{ url_for('books.view', id = item.id) }}">{{ item.title }}</a>
                    {% else %}
                    <a href="{{ url_for('courses.view', id = item.id) }}">{{ item.title }}</a>
                    {% endif %}
                </td>
                <td>{{ item.type | capitalize }}</td>
                <td>{{ item.status }}</td>
                <td>{{ item.priority }}</td>
                <td>
                    {% for tag in item.tags %}
                    <a href="{{ url_for('view_by_tag', tag_id = tag.id) }}">
                        {{ tag.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

