{% if user.is_authenticated %}
<li {% if active_menu_item == 'Home' %} class="active" {% endif %}>
    <a href="{{ url_for('index') }}">Home</a>
</li>
<li {% if active_menu_item == 'By_Tag' %} class="active" {% endif %}>
    <a href="{{ url_for('view_by_tag') }}">By Tag</a>
</li>
<li {% if active_menu_item == 'Books' %} class="active" {% endif %}>
    <a href="{{ url_for('books.index') }}">Books</a>
</li>
<li><a href="{{ url_for('courses.index') }}">Courses</a></li>
<li><a href="{{ url_for('tags.index') }}">Tags</a></li>
{% endif %}
{% if user.is_anonymous %}
<li><a href="{{ url_for('auth.login') }}">Login</a></li>
{% else %}
<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
{% endif %}
{% if user.is_administrator %}
<li><a href="{{ url_for('admin.index') }}">Users</a></li>
{% endif %}